!_reset.css
!lib/README.md
*.css
*.pyc
*~
.DS_Store
.\#*
.sass-cache
DSC*.JPG
\#*\#
app.yaml
build/
dist/
lib/bower
node_modules/
src/coffee/*.js
style/images/places-M/*
style/images/places/*
style/stylesheets/.sass-cache/
