
/* imports */
@import '_reset.css';

/* variables */

$red: #ff1526;
$green: #5ebf64;
$darkGray: #333333;
$darkGrayShaded: rgba(30, 30, 30, 0.55);
$yellow: #fff6d5;
$white: #ffffff;
$purple: #805BA6;

::selection {
    background: $green; /* WebKit/Blink Browsers */
    color: white;
}
::-moz-selection {
    background: $green; /* Gecko Browsers */
    color: white;
}

@mixin bg-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin scroll-y {
    overflow-y: scroll;
    /* &::-webkit-scrollbar {
	display: none;
    } */
}

@mixin backface {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
}

@mixin container-shadow {
    -webkit-box-shadow: 0px 0px 5px -1px #333;
    -moz-box-shadow: 0px 0px 5px -1px #333;
    box-shadow: 0px 0px 5px -1px #333;
}

@mixin no-click { pointer-events: none; }

@mixin click { pointer-events: auto; }

@mixin animation ($delay, $duration, $name, $fill) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $name;
    -webkit-animation-fill-mode: $fill;
    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $name;
    animation-fill-mode: $fill;
}

html { height: 100% }

body {
    height: 100%; margin: 0; padding: 0;
    overflow: hidden;
    font-family: 'Josefin Sans', sans-serif;
}

#main-app { width: 100%; height: 100%; }

#map-canvas {
    height: 100%; width: 100%;

    .gm-style-iw { overflow: hidden !important;}
    .gm-style .gm-style-cc span,
    .gm-style .gm-style-cc a,
    .gm-style .gm-style-mtc div { display: none; }
}

#logo {
    @include no-click;
    .tv-tower {
	position: absolute;
	z-index: 0;
	bottom: 10px;
	left: 32px;
	width: 67px;
	height: 235px;
	background: transparent url(/images/SVG/tvTower.svg) no-repeat 0 0;
    }
    .eatout-text {
	position: absolute;
	z-index: 0;
	bottom: 10px;
	left: 114px;
	width: 146px;
	height:71px;
	background: transparent url(/images/SVG/eatoutText.svg) no-repeat 0 0;
    }
}

#madewith {
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    position: absolute;
    z-index: 0;
    bottom: 10px;
    right: 10px;
    .love { color: $red; }
}

.menu-icon {
    position: absolute;
    top: 26px; left: 31px;
    cursor: pointer;
    z-index: 10;
}

.menu-icon {
    background-color: #282828;
    border-radius: 2px;
    width: 23px;
    height: 18px;
    padding: 11px;
}

.expanded-100 {
    a.expand-panel {
        -ms-transform: rotate(-180deg) translateX(-4px); /* IE 9 */
        -webkit-transform: rotate(-180deg) translateX(-4px); /* Chrome, Safari, Opera */
        transform: scaleX(-1) translateX(-4px);
    }
}

.expand-panel {
    position: fixed;
    cursor: pointer;
    top: 28px;
    left: 16px;
    width: 40px;
    height: 40px;

    -webkit-transition: 0.5s transform ease-out;
    transition: 0.5s transform ease-out;

    b:nth-child(1) {
        -webkit-transform:translate3d(0, 8px, 0) rotate(-45deg);
	transform:translate3d(0, 8px, 0) rotate(-45deg);
        width: 20px;
    }

    b:nth-child(2) {
        -webkit-transform:translate3d(0, 19px, 0) rotate(45deg);
	transform:translate3d(0, 19px, 0) rotate(45deg);
        width: 20px;
    }

    b:nth-child(3) {
        -webkit-transform:translate3d(10px, 9px, 0);
	transform:translate3d(10px, 10px, 0);
        width: 17px;
    }
}

.tag-list {
    position: absolute;
    top: 40px;
    right: 180px;
    width: 70%;
    transition: transform 1s ease;

    &.panel-open {
        transform: translateX(-52vw);
        right: 0;
        width: 170px;
    }
    .tag {
        background: $red;
        float: right;
        color: white;
        margin: 0 10px 10px 0;
        border-radius: 20px;
        cursor: pointer;
        font-size: 15px;
        padding: 5px 10px;
        display: inline-block;
        font-weight: bold;
        .close-icon {
            display: inline-block;
            height: 13px;
            margin: -1px 0 0 4px;
            width: 13px;
        }
    }
}

.menu-toggle b,
.expand-panel b,
.menu-icon b,
.close-icon b {
    display: block;
    width: 100%;
    height: 2px;
    background: #FFF;
    margin: 0px auto;
    border-radius: 2px;
}

.menu-toggle b+b {
    margin-top: 6px;
}

.menu-toggle.open b:nth-child(2) {
    -webkit-transition: opacity 600ms, width 600ms;
    transition: opacity 600ms, width 600ms;
    opacity: 1;
}

.menu-toggle.close b:nth-child(2) {
    -webkit-transition: opacity 600ms, width 600ms;
    transition: opacity 600ms, width 600ms;
    width: 0;
    opacity: 0;
}

.menu-toggle.close b:first-child {
    @include animation(200ms, 300ms,close-button-first-child, forwards );
}

.menu-toggle.close b:last-child {
    @include animation(200ms, 300ms,close-button-last-child, forwards );
}


.menu-toggle.open b:first-child {
    @include animation(200ms, 300ms,open-button-first-child, forwards );
}

.menu-toggle.open b:last-child {
    @include animation(200ms, 300ms,open-button-last-child, forwards );
}

@-webkit-keyframes close-button-first-child {
    0% { -webkit-transform:none; transform:none }
    50% { -webkit-transform:translate3d(0, 3px, 0);
	  transform:translate3d(0, 3px, 0) }
    100% { -webkit-transform:translate3d(0, 8px, 0) rotate(45deg);
	   transform:translate3d(0, 8px, 0) rotate(45deg) }
}

@keyframes close-button-first-child {
    0% { -webkit-transform:none; transform:none }
    50% { -webkit-transform:translate3d(0, 3px, 0);
	  transform:translate3d(0, 3px, 0) }
    100% { -webkit-transform:translate3d(0, 8px, 0) rotate(45deg);
	   transform:translate3d(0, 8px, 0) rotate(45deg) }
}

@-webkit-keyframes close-button-last-child {
    0% { -webkit-transform:none;transform:none }
    50% { -webkit-transform:translate3d(0, -3px, 0);
	  transform:translate3d(0, -3px, 0) }
    100% { -webkit-transform:translate3d(0, -8px, 0) rotate(-45deg);
	   transform:translate3d(0, -8px, 0) rotate(-45deg) }
}


@keyframes close-button-last-child {
    0% { -webkit-transform:none;transform:none }
    50% { -webkit-transform:translate3d(0, -3px, 0);
	  transform:translate3d(0, -3px, 0) }
    100% { -webkit-transform:translate3d(0, -8px, 0) rotate(-45deg);
	   transform:translate3d(0, -8px, 0) rotate(-45deg) }
}


@-webkit-keyframes open-button-last-child {
    0% { -webkit-transform:translate3d(0, -8px, 0) rotate(-45deg);
	 transform:translate3d(0, -8px, 0) rotate(-45deg) }
    50% { -webkit-transform:translate3d(0, -3px, 0);
	  transform:translate3d(0, -3px, 0)}
    100% { -webkit-transform:none; transform:none}
}

@keyframes open-button-last-child {
    0% { -webkit-transform:translate3d(0, -8px, 0) rotate(-45deg);
	 transform:translate3d(0, -8px, 0) rotate(-45deg) }
    50% { -webkit-transform:translate3d(0, -3px, 0);
	  transform:translate3d(0, -3px, 0)}
    100% { -webkit-transform:none; transform:none}
}

@-webkit-keyframes open-button-first-child {
    0% { -webkit-transform:translate3d(0, 8px, 0) rotate(45deg);
	 transform:translate3d(0, 8px, 0) rotate(45deg) }
    50% { -webkit-transform:translate3d(0, 3px, 0);
	  transform:translate3d(0, 3px, 0)}
    100% { -webkit-transform:none;
	   transform:none}
}

@keyframes open-button-first-child {
    0% { -webkit-transform:translate3d(0, 8px, 0) rotate(45deg);
	 transform:translate3d(0, 8px, 0) rotate(45deg) }
    50% { -webkit-transform:translate3d(0, 3px, 0);
	  transform:translate3d(0, 3px, 0)}
    100% { -webkit-transform:none;
	   transform:none}
}

#weather {
    font-size: 40px;
    color:$darkGray;
    font-weight: 700;
    z-index: 0;
    position: absolute;
    top: 18px; right: 20px;

    a { color:#333; text-decoration:none; overflow: hidden; display: flex;}

    .w-temp {
	display: block;
	padding: 15px 0 0px 5px;
	top: 4px;

	.w-units {
	    font-weight: 400;
	    font-size: 0.7em;
	    display: inline-block;
	    vertical-align: top;
	}
    }

    .w-icon {
	width: 60px; height:52px;
	display: block;
	vertical-align: bottom;

	background:url(/images/weather/fair.svg) no-repeat center center;
	&.c0 {background:url(/images/weather/tornado.svg) no-repeat center center; }
	&.c2 { background:url(/images/weather/hurricane.svg) no-repeat center center; }
	&.c3, &.c4 {background:url(/images/weather/thunderstorms.svg) no-repeat center center; }
	&.c8, &.c9 { background:url(/images/weather/drizzle.svg) no-repeat center center; }
	&.c13, &.c14, &.c15, &.c16 {background:url(/images/weather/snow.svg) no-repeat center center; }
	&.c17, &.c35 {  background:url(/images/weather/hail.svg) no-repeat center center; }
	&.c18 {background:url(/images/weather/sleet.svg) no-repeat center center;}
	&.c19 { background:url(/images/weather/dust.svg) no-repeat center center; }
	&.c21 { background:url(/images/weather/haze.svg) no-repeat center center; }
	&.c32 {background:url(/images/weather/sunny.svg) no-repeat center center; }
	&.c33, &.c34 { background:url(/images/weather/fair.svg) no-repeat center center; }
	&.c33 { background:url(/images/weather/fair-n.svg) no-repeat center center; }
	&.c23 { background:url(/images/weather/blustery.svg) no-repeat center center; }
	&.c26, &.c28 { background:url(/images/weather/cloudy.svg) no-repeat 0 -2px; }
	&.c27, &.c29 { background:url(/images/weather/mostly-cloudy-n.svg) no-repeat center center; }
	&.c30 { background:url(/images/weather/partly-cloudy.svg) no-repeat center center;}
	&.c37, &.c38, &.c39 {background:url(/images/weather/isolated-thunderstorms.svg) no-repeat center center; }

    }
}


#main-menu {
    height: 100%;
    position: absolute;
    background: #282828;
    color: white;
    top: 0;
    left: 0;
    z-index: 9;
    font-family: helvetica, arial;

    transition: 0.2s translate ease-out;

    @include no-click;


    &.ng-hide-add, &.ng-hide-remove {
	display: block !important;
    }

    &.ng-hide-remove, &.ng-hide-add.ng-hide-add-active {
	//margin-left: -105px;
	transform: translate3d(-105px, 0, 0);
	-webkit-transform: translate3d(-105px, 0, 0);
    }

    &.ng-hide-remove.ng-hide-remove-active, &.ng-hide-add {
	//margin-left: 0;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
    }


    .submenus {

	&.districtItem { top: 198px; }
	&.foodItem { top: 100px; width: 120px; }
	margin-left: 105px;
	background: #282828;
	padding: 8px 0;
	font-weight: bold;
	opacity: 0.9;
	position: absolute;
	top: 0;

	@include click;

	li.submenu-item {
	    padding: 8px  15px;
	    font-size: 12px;
	    text-transform: uppercase;
	    cursor: pointer;
	    color: #AAA;

	    &.submenu-food { padding: 8px 6px;}
	    &.submenu-all { color: white; padding: 8px 25px;}

	    &.checkall, &.checkall:hover { background-color: $green; color: white; }
	    &.checkitem, &.checkitem:hover {
		color: $green;
	    }
	    .icon-container { display: inline-block; width: 11px; height: 10px; margin-right: 5px; }
	    .checkicon {
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		top: -2px;
		left: 6px;
		width: 5px;
		height: 11px;
		border: 2px solid #30D400;
		border-style: none solid solid none;

		transition: 280ms;
		position: relative;
		box-sizing: border-box;
	    }

	    &:hover { background-color: #666; color:#222; }
	}
    }
    .menu-content {
	padding: 92px  0 0 0px;
	background: #282828;
	width: 105px;

	@include container-shadow;
	@include click;
	.header {
	    display: none;
	    position: absolute;
	    top: -10px; left: 68px;
	    z-index:2000;
	    width: 158px; height: 80px;
	}

	.menu-items {
	    li.menu-item {
		margin: 0px auto;
		padding: 9px 0;
		cursor: pointer;
		text-align: center;

		.item-icon { width: 64px; height: 64px; margin: 0 auto; background-position: 0 0; }
		.item-description { text-transform: uppercase; font-size: 12px; color: #999; }
		&.active,
		&:hover {
		    background-color: $green;
		    .item-icon { background-position: 0 -64px; }
		    .item-description { color: white;}
		}
		&.find-me .item-icon{ background-image: url(/images/menu/iamhere.svg); }
		&.food-type .item-icon{ background-image: url(/images/menu/food.svg); }
		&.districts .item-icon{ background-image: url(/images/menu/district.svg); }
		&.best-places .item-icon{ background-image: url(/images/menu/star.svg); }
	    }
	}
    }

    .info-content {
	margin: 10px;
	font-family: 'Josefin Slab', serif;

	h1 {
	    display: inline-block;
	    font-size: 30px;
	    margin: 15px 0;
	    font-family: Lily Script One, cursive ;
	}
	.description { font-size: 17px; }
	.rating { margin: 20px 10px;  }
    }
}

.rating {
    width: 121px;
    display: inline-block;
    float: right;

    .rating-rest {
        float: left;
        background: url(/images/SVG/stars.svg) repeat-x 0 -24px;
        height: 24px;
    }
    .rating-value {
        float: left;
        background: url(/images/SVG/stars.svg) repeat-x 0 0;
        height: 24px;
    }
}

/************** The Place *************/

#main-panel {
    width: 50vw;
    height: 100%;
    max-height: 100%;
    overflow: visible;
    position: absolute;
    background: #FFF;
    color: $darkGray;
    top: 0;
    right: 0;
    z-index: 11;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);

    @include container-shadow;

    transition: 0.5s transform ease-out,
                0.5s width ease-out;

    @include scroll-y;
    @include backface;

    &.ng-hide-add, &.ng-hide-remove  {
	display: block !important;
    }

    &.ng-hide-remove, &.ng-hide-add.ng-hide-add-active {
	transform: translate3d(100%, 0,0);
	-webkit-transform: translate3d(100%, 0,0);
    }

    &.ng-hide-remove.ng-hide-remove-active, &.ng-hide-add {
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
    }

    .place-wrapper {
        -webkit-overflow-scrolling: touch;
	.close-place {
	    width: 28px; height:28px;
	    display:block;
	    position: absolute;
	    top: 30px; right: 16px;
	    cursor: pointer;
	}

	.header  {
            padding: 35vh 0 20px 0;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	    background-position: center;
	    background-color: $darkGray;

            .place-info-area {
                background: $darkGrayShaded;
                padding: 0 3vw 20px 4vw;
		position: relative;
		.recommended {
		    position: absolute;
		    top: -10px; right: 2.3vw;
		    background: url(/images/recommendation.png) no-repeat center;
		    width: 76px;
		    height: 64px;
		}
		div.recommended + div {
		    position: absolute;
		    top: 46px;
		    right: 2vw;
		    width: 76px;
		    .twitter { margin-bottom: 0; }
		}
	    }


            .place-info {
		display: inline-block;
		color: $white;
		max-width: 84%;

		.place-name {
		    font-size: 32px;
		    margin: 15px 0 5px;
		    font-family: Lily Script One, cursive;
		    a { color: $white; text-decoration: none; }
		}
		.rating-wrapper {
		    .rating-number {
			font-size: 25px;
			font-weight: bold;
			color: $red;
			display: inline-block;
			vertical-align: bottom;
		    }
		    .rating { float: none; }
	        }
		.place-address{ display: inline-block; margin-right: 5px; }
		.distance-from-me { display: inline-block; }
		.sico { width: 13px; height: 16px; position: relative; top: 2px; display: inline-block; }
		.ico-walking { background: url(/images/SVG/walking.svg) no-repeat center; }
		.ico-place { background: url(/images/SVG/place.svg) no-repeat center; }
	    }

            .social-icons {
                display: inline-block;
		position: absolute;
		top: 0px;
		right: 4vw;
                vertical-align: middle;
                text-align: center;
                padding: 17px 0 0 0;
                width: 36px;
            }


            .share {
                display: inline-block;
                width: 36px;
                height: 36px;
            }

            .twitter {
                background: url(/images/SVG/sicons.svg);
                background-position: 39px 37px;
                margin-bottom: 4px
            }
            .facebook {
                background: url(/images/SVG/sicons.svg);
                background-position: 0px 36px;
            }
	}

	.content {
	    padding: 55px 4vw 20px 4vw;
	    background-color: $white;
	    font-size: 20px;

	    .last-visited {
		font-size: 0.8em;
		float: right;
		margin-top: -32px;
		.sico { width: 16px; height: 14px; position: relative; top: 2px; display: inline-block; }
		.ico-seen {  background: url(/images/SVG/eye.svg) no-repeat center; }
	    }

	    .title {
		font-size: 1.12em;
		font-weight: bold;
		padding: 0px 0px 10px;
	    }
	    .images {

                //display: flex;
                //flex-wrap: wrap;
                display: block;
                align-items: center;
		width: 100%;
		margin: 20px auto;
                //.image-container {  padding: 1%; }
                figure { font-size: 0; }
		img { width: 100%; margin: 0 0 0px 0;}
	    }
	}
    }

    .suggestion-wrapper {
        -webkit-overflow-scrolling: touch;
        .expand-panel b { background: $darkGray; }
	.close-place.close-place {
	    b { background: $darkGray; }
	    top: 34px;
	    right: 16px;
	}

	.searchbox {
	    font-size: 2em;
	    color: $darkGray;
	    padding: 24px 0px 24px 70px;
	    border: none;
	    background: 0 0;
	    outline: 0;
	}

	.header {
	    margin: 0 0 6px 0;
	    cursor: pointer;
	}
    }
}


/********************* CSS ICONS *************************/

.close-icon {
    b:first-child {
        -webkit-transform:translate3d(0, 7px, 0) rotate(45deg);
        transform:translate3d(0, 7px, 0) rotate(45deg)
    }
    b:last-child {
        -webkit-transform:translate3d(0, 5px, 0) rotate(-45deg);
	transform:translate3d(0, 5px, 0) rotate(-45deg)
    }
}



/*********************************************************************
 *                    RESIZING THE WINDOW                             *
 *********************************************************************/
@media screen and (max-width: 1150px) {

}

@media screen and (max-width: 860px) {
    #logo {
	.tv-tower { @include bg-cover; width: 34px; height: 120px;  left:10px;}
	.eatout-text { @include bg-cover; left: 50px; height: 38px; width: 79px; }
    }

}

@media screen and (max-height: 450px) {
    .menu-icon { left: 24px; }
    #main-menu {
	.submenus {
	    margin-left: 90px;
	    &.foodItem, &.districtItem { top: 0; }
	}
	.menu-content {
	    padding: 88px 0 0 0px;
	    width: 90px;

    	    .menu-items {
		li.menu-item {
		    margin: 0px auto;
		    padding: 4px 0;
		    cursor: pointer;
		    text-align: center;

		    .item-icon {
			background-size: cover;
			height: 40px;
			width: 40px;
		    }

		    &:hover, &.active {
			.item-icon { background-position: 0 -40px; }
		    }
		}
	    }
	}
    }
}

@media screen and (max-height: 340px) {
     #main-menu {
	 .menu-items {
	     .menu-item .item-description { display: none; }
	 }
	 .submenus li.submenu-item.submenu-all {
	     padding: 6px 25px;
	 }
     }
}
@media screen and (max-width: 760px) {

    .info-content {
	.description { font-size: 15px; }
    }
    .menu-icon { z-index: 15; }
    #main-menu { z-index: 12; }
    #main-panel {
	width: 100vw !important;
        .expand-panel { display: none; }
	/*We need this for chrome for phones not just max width*/
	height: initial;
	.suggestion-wrapper {
	    .searchbox {
		padding: 24px 0px 24px 90px;
		width: 65%;
	    }
	}
    }

}

@media screen and (min-width: 870px) {

    #main-panel.expanded-100 {
	.place-wrapper .content {
	    padding: 55px 10vw 20px 10vw;
        }
    }
}