
/* imports */
@import '_reset.css';
@import 'mixins.scss';

/* variables */
$red: #ff1526;
$green: #5ebf64;
$darkGrayBg: #282828;
$darkGray: #333333;
$darkGrayShaded: rgba(30, 30, 30, 0.55);
$darkGrayShadedStrong: rgba(30, 30, 30, 0.7);
$darkGrayShadedStronger: rgba(30, 30, 30, 0.8);
$softGray: rgba(30, 30, 30, 0.25);
$yellow: #fff6d5;
$darkYellow: #ffc200;
$orange: #f2906b;
$white: #ffffff;
$purple: #805BA6;
$blue: #05c7f2;
$brown: #8e4b39;
$lightBlue: #baf0f4;
$darkBlue: #364fc4;
$darkRed: #c82247;
$searchText: #ddd;

.red        { background-color: $red !important; }
.green      { background-color: $green !important; }
.yellow     { background-color: $darkYellow !important; }
.purple     { background-color: $purple !important; }
.orange     { background-color: $orange !important; }
.black      { background-color: $darkGray !important; }
.blue       { background-color: $blue !important; }
.brown      { background-color: $brown !important; }
.light-blue { background-color: $lightBlue !important; color: $darkGray !important; b { background: $darkGray !important; }}
.dark-blue  { background-color: $darkBlue !important; }
.dark-red   { background-color: $darkRed !important; }
::selection {
    background: $green; /* WebKit/Blink Browsers */
    color: white;
}
::-moz-selection {
    background: $green; /* Gecko Browsers */
    color: white;
}

@mixin bg-cover {
    @include background-size(cover);
}

@mixin scroll-y {
    overflow-y: scroll;
}

@mixin container-shadow {
    @include css3-prefix('box-shadow', 0px 0px 5px -1px #333);
}

@mixin no-click { pointer-events: none; }
@mixin click    { pointer-events: auto; }

html { height: 100% }

body {
    height: 100%; margin: 0; padding: 0;
    overflow: hidden;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.FL { float: left; }
.FR { float: right; }
.AL { text-align: left; }
.AR { text-align: right; }

#main-app { width: 100%; height: 100%; }

#map-canvas {
    height: 100%; width: 100%;

    .gm-style-iw { overflow: hidden !important;}
    .gm-style .gm-style-cc span,
    .gm-style .gm-style-cc a,
    .gm-style .gm-style-mtc div { display: none; }

    .cluster-txt {
        font-family: 'Josefin Sans', sans-serif;
        color: white;
        font-size: 0.95em;
        text-shadow: 0px 1px 0.5px rgba(0,0,0,0.3);
    }
}

#logo {
    @include no-click;

    .tv-tower {
	position: absolute;
	z-index: 0;
	bottom: 10px;
	left: 32px;
	width: 67px;
	height: 235px;
	background: transparent url(/images/SVG/tvTower.svg) no-repeat 0 0;
    }
    .eatout-text {
	position: absolute;
	z-index: 0;
	bottom: 10px;
	left: 114px;
	width: 146px;
	height:71px;
	background: transparent url(/images/SVG/eatoutText.svg) no-repeat 0 0;
    }
}

#madewith {
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    position: absolute;
    z-index: 0;
    bottom: 10px;
    right: 10px;
    .love { color: $red; }
}


.fade.ng-enter {
    @include transition(0.3s linear all);
    opacity: 0;
}
.fade.ng-enter.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    @include transition(0.3s linear all);
    opacity:1;
}
.fade.ng-leave.ng-leave-active {
    opacity:0;
}
.fade.ng-move {
    @include transition(.3s linear all);
}

#messages {
    position: absolute;
    z-index: 1000;
    top: 20px;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    font-family: 'Josefin Sans', sans-serif;

    .message-item {
        background-color: rgba(255, 99, 71, 0.8);
        border-radius: 20px;
        color: white;
        cursor: pointer;
        max-width: 80%;
        margin: 10px auto;
        font-size: 18px;
        font-weight: bold;
        padding: 10px;
        text-align: center;
        position: relative;
        .close-icon {
            position: absolute;
            right: 14px;
            top: 12px;
            height: 13px;
            margin: -1px 0 0 4px;
            width: 13px;
        }
    }
}

.ico-mail {
    background: transparent url(/images/SVG/mail.svg) no-repeat 0 0;
    width: 30px;
    height: 30px;
    display: inline-block;
    right: -2px;
    bottom: 0px;
}

.ico-rss {
    background: transparent url(/images/SVG/rss.svg) no-repeat 0 0;
    background-size: contain;
    width: 30px;
    height: 30px;
    display: inline-block;
    right: -2px;
    bottom: -9px;
}

.menu-icon {
    position: absolute;
    top: 26px; left: 31px;
    cursor: pointer;
    z-index: 10;
}

.menu-icon {
    background-color: $darkGrayBg;
    border-radius: 2px;
    width: 23px;
    height: 18px;
    padding: 11px;
}

.expanded-100 {
    a.expand-panel {
        @include transform(rotate(-180deg));
    }
}

.expand-panel {
    position: fixed;
    cursor: pointer;
    top: 25px;
    left: 20px;
    width: 24px;
    height: 28px;

    @include transition(0.5s transform ease-out);
    -webkit-transition: 0.5s -webkit-transform ease-out;

    b:nth-child(1) {
        @include transform(translate3d(-5px, 6px, 0) rotate(-45deg));
        width: 20px;
    }

    b:nth-child(2) {
        @include transform(translate3d(-5px, 18px, 0) rotate(45deg));
        width: 20px;
    }

    b:nth-child(3) {
        @include transform(translate3d(0px, 9px, 0));
        width: 24px;
    }
}

.tag-list {
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    top: 87px;
    right: 15px;
    width: 160px;
    pointer-events: none;
    @include transition(transform 0.5s ease-out);
    -webkit-transition: 0.5s -webkit-transform ease-out;

    &.panel-open {
        @include transition(transform 0.5s ease-out);
        -webkit-transition: 0.5s -webkit-transform ease-out;
        @include transform(translateX(-52vw));
        right: 0;
        width: 170px;
    }

    .tag.search {
        background: $darkGrayBg;
        margin-right: -2.1vw;
        font-size: 20px;
        padding: 10px 30px 10px 20px;
        text-decoration: none;
        border-radius: 20px 0 0 20px;
    }

    .tag {
        pointer-events: all;
        background: $red;
        float: right;
        color: white;
        margin: 0 10px 10px 0;
        border-radius: 20px;
        cursor: pointer;
        font-size: 15px;
        padding: 5px 10px;
        display: block;
        font-weight: bold;
        clear: both;

        .close-icon {
            display: inline-block;
            height: 13px;
            margin: -1px 0 0 4px;
            width: 13px;
        }
    }
}

.menu-toggle b,
.expand-panel b,
.menu-icon b,
.close-icon b {
    display: block;
    width: 100%;
    height: 2px;
    background: #FFF;
    margin: 0px auto;
    border-radius: 2px;
}

.menu-toggle b+b {
    margin-top: 6px;
}

.menu-toggle.open b:nth-child(2) {
    @include transition(opacity 600ms, width 600ms);
    opacity: 1;
}

.menu-toggle.close b:nth-child(2) {
    @include transition(opacity 600ms, width 600ms);
    width: 0;
    opacity: 0;
}

.menu-toggle.close b:first-child {
    @include animation(200ms, 300ms,close-button-first-child, forwards);
}

.menu-toggle.close b:last-child {
    @include animation(200ms, 300ms,close-button-last-child, forwards);
}

.menu-toggle.open b:first-child {
    @include animation(200ms, 300ms,open-button-first-child, forwards);
}

.menu-toggle.open b:last-child {
    @include animation(200ms, 300ms,open-button-last-child, forwards);
}

@include keyframes(close-button-first-child) {
    0%   { @include transform(none) }
    50%  { @include transform(translate3d(0, 3px, 0)) }
    100% { @include transform(translate3d(0, 8px, 0) rotate(45deg)) }
}

@include keyframes(close-button-last-child) {
    0%   { @include transform(none) }
    50%  { @include transform(translate3d(0, -3px, 0)) }
    100% { @include transform(translate3d(0, -8px, 0) rotate(-45deg)) }
}

@include keyframes(open-button-last-child) {
    0%   { @include transform(translate3d(0, -8px, 0) rotate(-45deg)) }
    50%  { @include transform(translate3d(0, -3px, 0)) }
    100% { @include transform(none) }
}

@include keyframes(open-button-first-child) {
    0%   { @include transform(translate3d(0, 8px, 0) rotate(45deg)) }
    50%  { @include transform(translate3d(0, 3px, 0)) }
    100% { @include transform(none) }
}

#weather {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    color: $darkGray;
    font-weight: 700;
    z-index: 0;
    position: absolute;
    top: 18px; right: 20px;

    @include no-click;
    @include transition(transform 0.5s ease-out);
    -webkit-transition: 0.5s -webkit-transform ease-out;

    &.panel-open {
        @include transition(transform 0.5s ease-out);
        -webkit-transition: 0.5s -webkit-transform ease-out;
        @include transform(translateX(-52vw));
        right: 0;
    }
    .w-temp {
	display: inline-block;
	padding: 15px 0 0px 5px;
	top: 4px;

	.w-units {
	    font-weight: 400;
	    font-size: 0.7em;
	    display: inline-block;
	    vertical-align: top;
	}
    }

    .w-icon {
	width: 60px; height:52px;
	display: inline-block;
	vertical-align: bottom;
	background:url(/images/weather/fair.svg) no-repeat center center;

	&.c0 {background:url(/images/weather/tornado.svg) no-repeat center center; }
	&.c2 { background:url(/images/weather/hurricane.svg) no-repeat center center; }
	&.c3, &.c4 {background:url(/images/weather/thunderstorms.svg) no-repeat center center; }
	&.c8, &.c9 { background:url(/images/weather/drizzle.svg) no-repeat center center; }
	&.c13, &.c14, &.c15, &.c16 {background:url(/images/weather/snow.svg) no-repeat center center; }
	&.c17, &.c35 {  background:url(/images/weather/hail.svg) no-repeat center center; }
	&.c18 {background:url(/images/weather/sleet.svg) no-repeat center center;}
	&.c19 { background:url(/images/weather/dust.svg) no-repeat center center; }
	&.c21 { background:url(/images/weather/haze.svg) no-repeat center center; }
	&.c32 {background:url(/images/weather/sunny.svg) no-repeat center center; }
	&.c33, &.c34 { background:url(/images/weather/fair.svg) no-repeat center center; }
	&.c33 { background:url(/images/weather/fair-n.svg) no-repeat center center; }
	&.c23 { background:url(/images/weather/blustery.svg) no-repeat center center; }
	&.c26, &.c28 { background:url(/images/weather/cloudy.svg) no-repeat 0 -2px; }
	&.c27, &.c29 { background:url(/images/weather/mostly-cloudy-n.svg) no-repeat center center; }
	&.c30 { background:url(/images/weather/partly-cloudy.svg) no-repeat center center;}
	&.c37, &.c38, &.c39 {background:url(/images/weather/isolated-thunderstorms.svg) no-repeat center center; }

    }
}


#main-menu {
    height: 100%;
    position: absolute;
    background: $darkGrayBg;
    color: white;
    top: 0;
    left: 0;
    z-index: 9;
    font-family: helvetica, arial;

    @include transition(0.2s transform ease-out);
    -webkit-transition: 0.2s -webkit-transform ease-out;
    @include no-click;

    &.ng-hide-add, &.ng-hide-remove {
	display: block !important;
    }

    &.ng-hide-remove, &.ng-hide-add.ng-hide-add-active {
        @include transform(translate3d(-105px, 0, 0));
    }

    &.ng-hide-remove.ng-hide-remove-active, &.ng-hide-add {
	@include transform(translate3d(0, 0, 0));
    }

    .menu-gradient {
        position: absolute;
        bottom: 0;
        height: 60px;
        width: 100%;
        pointer-events: none;

        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    }

    .submenus {
        @include click;

	margin-left: 105px;
	font-weight: bold;
	opacity: 0.9;
	position: absolute;
	top: 0;

	&.districtItem { margin-top: 198px; width: 140px; overflow: hidden; }
	&.foodItem { margin-top: 100px; width: 136px; overflow: hidden; }
        .submenu-wrapper  { overflow: hidden; overflow-y: scroll; width: 165px; }
        .submenu { background: $darkGrayBg;	padding: 8px 0; }

	li.submenu-item {
	    padding: 8px  15px;
	    font-size: 12px;
	    text-transform: uppercase;
	    cursor: pointer;
	    color: #AAA;

	    &.submenu-food { padding: 8px 6px;}
	    &.submenu-all  { color: white; padding: 8px 25px;}

	    &.checkall, &.checkall:hover   { background-color: $green; color: white; }
	    &.checkitem, &.checkitem:hover { color: $green; }

	    .icon-container { display: inline-block; width: 11px; height: 10px; margin-right: 5px; }
	    .checkicon {
                @include transform(rotate(45deg));
                @include transition(280ms);

		top: -2px;
		left: 6px;
		width: 5px;
		height: 11px;
		border: 2px solid #30D400;
		border-style: none solid solid none;
		position: relative;
		box-sizing: border-box;
	    }

	    &:hover { background-color: #666; color:#222; }
	}
    }

    .menu-content-wrapper { width: 105px; overflow: hidden; }
    .menu-content {
	padding: 92px  0 0 0px;
	background: $darkGrayBg;
	width: 130px;
        overflow-y: scroll;

	@include container-shadow;
	@include click;

	.header {
	    display: none;
	    position: absolute;
	    top: -10px; left: 68px;
	    z-index:2000;
	    width: 158px; height: 80px;
	}

	.menu-items {
            a { text-decoration: none; }
	    li.menu-item {
		margin: 0px;
		padding: 9px 0;
		cursor: pointer;
		text-align: center;
                width: 105px;

		.item-icon { width: 64px; height: 64px; margin: 0 auto; background-position: 0 0; }
		.item-description { text-transform: uppercase; font-size: 12px; color: #999; }
		&.active,
		&:hover {
		    background-color: $green;
		    .item-icon { background-position: 0 -64px; }
		    .item-description { color: white;}
		}
		&.find-me .item-icon     { background-image: url(/images/menu/iamhere.svg); }
		&.food-type .item-icon   { background-image: url(/images/menu/food.svg); }
		&.districts .item-icon   { background-image: url(/images/menu/district.svg); }
		&.search .item-icon { background-image: url(/images/menu/search.svg); }
                &.blog .item-icon        { background-image: url(/images/menu/blog.svg); }
	    }
	}
    }

    .info-content {
	margin: 10px;

	h1 {
	    display: inline-block;
	    font-size: 30px;
	    margin: 15px 0;
	    font-family: Lily Script One, cursive ;
	}
	.description { font-size: 17px; }
	.rating { margin: 20px 10px;  }
    }
}

.rating {
    width: 121px;
    display: inline-block;
    float: right;

    .rating-rest {
        float: left;
        background: url(/images/SVG/stars.svg) repeat-x 0 -24px;
        height: 24px;
    }
    .rating-value {
        float: left;
        background: url(/images/SVG/stars.svg) repeat-x 0 0;
        height: 24px;
    }
}

.price-wrapper {
    text-align: left;
    padding-top: 4px;

    .price-range {
        width: 80px;
        display: inline-block;

        .price-rest {
            float: left;
            background: url(/images/SVG/dollar.svg) repeat-x 0 -16px;
            height: 16px;
        }
        .price-value {
            float: left;
            background: url(/images/SVG/dollar.svg) repeat-x 0 0;
            height: 16px;
        }
    }
}


/************** Blog *************/

.blog-bar {
    position: sticky;
    width: 100%;
    height: 70px;
    background: $darkGrayBg;
    color: #fff;
    z-index: 1000;
    text-align: center;

    @include transition(0.3s height ease);

    img { height: 45px; padding-top: 10px; }
    .blog-title { }
}

.blog {
    display: block;
    .divider { height: 8px; width: 100%; background-color: $darkGrayBg; margin-top: 50px; }
    .entry-info { padding: 50px 10vw 25px 10vw; }
    .entry-cover {
        width: 500px;
        float: left;
        margin: 0 30px 15px -5vw;
    }
    .place-date, .place-name {  }
    .place-name { font-size: 3.5em;  font-weight: 700; font-family: 'Old Standard TT',serif; padding-top: 15px; }
    .place-date { font-size: 1em; padding-top: 10px; }

    .image-container {
        margin-bottom: 1%;
        img { width: 100%; }
    }
    .place-description {
        font-family: 'Open Sans', sans-serif;
        font-size: 17px;
        line-height: 25px;
        color: #1d1f1f;
        padding: 30px 0;
    }
    .place-info {
        padding: 50px 0 0px 0;
        margin: 0 auto;
        text-align: center;
        font-size: 0.96em;

        li {
            .rating { float: none; }
            .price-wrapper { padding: 0; }
            padding-bottom: 6px;
        }
        .price-range {
            display: none;
            height: 18px;
            margin: 0 auto;
        }
    }
    .go-to-entry {
        cursor: pointer;
        background-color: $red;
        color: white;
        padding: 8px 10px;
        margin: 10px auto 0 auto;
        font-weight: 700;
        display: inline-block;
    }
}

.pagination {
    margin: 0 auto 30px auto;
    text-align: center;
    font-weight: 700;

    a {
        background-color: $green;
        text-decoration: none;
        border: none;
        color: white;
        padding: 8px 10px;
        margin: 0 10px;
        font-weight: 700;
        cursor: pointer;
        &[disabled] { display: none; }
    }
}

/************** WIDGETS *************/

.widget-place-content-info {
    float: left;
    font-size: 0.9em;
    width: 60%;
    a:link,
    a:visited {
        color: $darkGrayShaded; //$green;
        text-decoration: none;
    }
    li {
        margin: 0 0 6px 0;
    }
}

.sico { width: 16px; height: 16px; position: relative; top: 2px; display: inline-block; margin-right: 5px; }
.ico-seen     { background: url(/images/SVG/eye.svg) no-repeat center; }
.ico-phone    { background: url(/images/SVG/phone.svg) no-repeat center; }
.ico-sphere   { background: url(/images/SVG/sphere.svg) no-repeat center; }
.ico-foodtype { background: url(/images/SVG/foodtype.svg) no-repeat center; }
.ico-walking  { background: url(/images/SVG/walking.svg) no-repeat center; }
.ico-star     { background: url(/images/SVG/lilstar.svg) no-repeat center; }
.ico-place    { background: url(/images/SVG/place.svg) no-repeat center; }
.ico-walking-dark  { background: url(/images/SVG/walking-dark.svg) no-repeat center; }
.ico-place-dark    { background: url(/images/SVG/place-dark.svg) no-repeat center; }

/************** The Place *************/

#main-panel {
    width: 50vw;
    height: 100%;
    max-height: 100%;
    overflow: visible;
    position: absolute;
    background: #FFF;
    color: $darkGray;
    top: 0;
    right: 0;
    z-index: 11;

    @include transform(translate3d(0,0,0));
    @include container-shadow;
    @include transition(0.5s transform ease-out, 0.5s width ease-out);
    -webkit-transition: 0.5s -webkit-transform ease-out, 0.5s width ease-out;

    @include scroll-y;
    @include backface;

    &.expanded-100 {
        width: 100vw;
        &.search-panel { width: 50vw; }
    }
    &.expanded-50  { width: 50vw; }

    &.see-false { display: none; }

    &.search-panel { height: auto; }

    &.ng-hide-add, &.ng-hide-remove  {
	display: block !important;
    }

    &.ng-hide-remove, &.ng-hide-add.ng-hide-add-active {
        @include transform(translate3d(100%, 0, 0));
    }

    &.ng-hide-remove.ng-hide-remove-active, &.ng-hide-add {
	@include transform(translate3d(0, 0, 0));
    }

    &.search-panel {
        background: transparent;
        box-shadow: none;
    }

    .place-wrapper {
        -webkit-overflow-scrolling: touch;

	.close-place {
	    width: 28px; height:28px;
	    display:block;
	    position: absolute;
	    top: 30px; right: 16px;
	    cursor: pointer;
	}

	.header  {
            @include background-size(cover);

	    background-position: center;
	    background-color: $darkGray;
            padding: 35vh 0 20px 0;


            .place-info-area {
                background: $darkGrayShaded;
                padding: 0 3vw 20px 4vw;
		position: relative;

		.recommended {
		    position: absolute;
		    top: -10px; right: 2.3vw;
		    background: url(/images/recommendation.png) no-repeat center;
		    width: 76px;
		    height: 64px;
		}

		div.recommended + div {
		    position: absolute;
		    top: 46px;
		    right: 2vw;
		    width: 76px;
		    .twitter { margin-bottom: 0; }
		}
	    }


            .place-info {
		display: inline-block;
		color: $white;
		max-width: 84%;
                font-size: 0.96em;

		.place-name {
		    font-size: 32px;
		    margin: 15px 0 5px;
		    font-family: Lily Script One, cursive;
		    a { color: $white; text-decoration: none; }
		}
		.rating-wrapper {
		    .rating-number {
			font-size: 25px;
			font-weight: bold;
			color: $red;
			display: inline-block;
			vertical-align: bottom;
		    }
		    .rating { float: none; }
	        }
		.place-address { display: inline-block; margin-right: 5px; }
		.distance-from-me { display: inline-block; }
                .sico { width: 13px; height: 16px; position: relative; top: 2px; display: inline-block; }
	    }

            .social-icons {
                display: inline-block;
		position: absolute;
		top: 0px;
		right: 4vw;
                vertical-align: middle;
                text-align: center;
                padding: 17px 0 0 0;
                width: 36px;
            }
            .share {
                display: inline-block;
                width: 36px;
                height: 36px;
            }
            .twitter {
                background: url(/images/SVG/sicons.svg);
                background-position: 39px 37px;
                margin-bottom: 4px
            }
            .facebook {
                background: url(/images/SVG/sicons.svg);
                background-position: 0px 36px;
            }
	}

	.content {
	    padding: 20px 4vw 20px 4vw;
	    background-color: $white;
	    font-size: 17px;

            .top-content { min-height: 90px; }
            .description { line-height: 25px; }
            .place-closed {
                background: url(/images/SVG/closed.svg) no-repeat center;
                width: 90px;
                height: 75px;

                @include animation(800ms, 1000ms,place-closed-animation, forwards);
                @include transform-origin (center 10%);
            }

            @include keyframes(place-closed-animation) {
                0%   { @include transform(none) }
                10%  { @include transform(rotate(20deg)) }
                20% { @include transform(rotate(45deg)) }
                30% { @include transform(rotate(20deg)) }
                40% { @include transform(rotate(0deg)) }
                50% { @include transform(rotate(-20deg)) }
                60% { @include transform(rotate(-45deg)) }
                80% { @include transform(rotate(-20deg)) }
                100% { @include transform(rotate(0deg)) }
            }

            .price-number { display: inline-block; margin-right: 10px; float: left; }
            .place-content-info { @extend .widget-place-content-info; }

	    .last-visited {
		font-size: 0.9em;
                margin-bottom: 8px;
	    }

	    .title {
                clear: both;
		font-size: 1.6em;
                text-transform: uppercase;
		font-weight: bold;
                padding: 14px 0;
                margin: 30px 0 10px 0;
                border-top: 3px solid #333;
                font-family: 'Oswald', sans-serif;
	    }
	    .images {
                //display: flex;
                //flex-wrap: wrap;
                display: block;
                align-items: center;
		width: 100%;
		margin: 20px auto;
                .image-container {  margin-bottom: 1%; }
                figure { font-size: 0; }
		img { width: 100%; margin: 0 0 0px 0;}
	    }
	}
    }

    .search-wrapper {
        -webkit-overflow-scrolling: touch;

        .expand-panel b { background: $darkGray; }
	.close-place.close-place {
	    b { background: $darkGray; }
	    top: 34px;
	    right: 16px;
	}

	.searchbox {
	    font-size: 2em;
	    color: $darkGray;
	    padding: 20px 0px 20px 4vw;
            margin: 5px 0 0 0;
	    border: none;
	    background: 0 0;
	    outline: 0;
            background-color: #fff;
            min-width: 100%;
            box-sizing: border-box;
	}

        .search-message {
            padding: 18px 4vw;
            background-color: $darkGrayShadedStrong;
            box-sizing: border-box;
            color: $searchText;
            font-size: 18px;
	    cursor: pointer;
            margin: 5px 0 0 0;
            position: relative;
        }

	.search-result {
	    background-color: $darkGrayShadedStrong;
            box-sizing: border-box;
            color: $searchText;
	    cursor: pointer;
            margin: 5px 0 0 0;
            position: relative;

            &:hover { background-color: $darkGrayShadedStronger; }
            .place-name {
		font-size: 32px;
		font-family: Lily Script One, cursive;
		a { color: $white; text-decoration: none; }
                margin-bottom: 10px;
	    }

            .distance-from-me,
            .place-address     { display: inline-block; margin-left: 5px; }
            .search-rating     { display: inline-block; }

            .search-result-wrapper {
                padding: 18px 4vw;
            }
	}
    }
}


/********************* CSS ICONS *************************/

.close-icon {
    b:first-child {
        @include transform(translate3d(0, 7px, 0) rotate(45deg));
    }
    b:last-child {
        @include transform(translate3d(0, 5px, 0) rotate(-45deg));
    }
}


/************** MARKDOWN *************/

strong { font-weight: bold; font-style: italic; color: $green; }

h1 { font-size: 26px; font-weight: bold; margin: 25px 0 20px 0; border-top: 2px solid #333; border-bottom: 2px solid #333; padding: 6px 0 4px; text-align: center; }
h2 { font-size: 24px; font-weight: bold; font-style: italic; margin: 20px 0 15px 0; }
h3 { font-size: 22px; margin: 15px 0 10px 0;  font-weight: bold; }
p  { margin-bottom: 10px; }

/*********************************************************************
 *                    RESIZING THE WINDOW                            *
 *********************************************************************/

@media screen and (max-width: 1150px) { }

@media screen and (max-width: 860px) {
    #logo{
	.tv-tower { @include bg-cover; width: 34px; height: 120px;  left:10px;}
	.eatout-text { @include bg-cover; left: 50px; height: 38px; width: 79px; }
    }
}

@media screen and (max-height: 600px) {
    #main-menu .submenus.districtItem,
    #main-menu .submenus.foodItem {
        margin-top: 0;
    }
}

@media screen and (max-width: 760px) {
    .info-content {
	.description { font-size: 15px; }
    }
    .menu-icon  { z-index: 15; }
    #main-menu  { z-index: 12; }
    #main-panel {
	width: 100vw !important;

        .expand-panel { display: none; }
	.search-wrapper {
	    .searchbox {
		width: 65%;
                padding: 20px 0px 20px 90px;
	    }
	}
    }
    .blog-panel { z-index: 16 !important; }

    .tag-list {
        right: 0;
        &.panel-open {
            @include transform(translateX(0));
        }
    }

    #weather.panel-open {
        @include transform(translateX(-52vw));
    }
}

@media screen and (max-width: 850px) {
    .blog {
        .entry-info { padding: 50px 5vw 25px 5vw; }
        .entry-cover { margin: 0 auto 15px auto; width: 80%; float: none; display: block; }
    }
}

@media screen and (min-width: 870px) {
    #main-panel.expanded-100 {
	.place-wrapper {
            .content {
	        padding: 20px 10vw 20px 10vw;
            }

            .header .place-info-area {
                padding: 0 10vw 20px 10vw;
                .recommended  { right: 10.3vw; }
                .social-icons { right: 10vw; }
            }
        }
    }
}