
<div id="main-app" ng-controller="eob_MapCtrl">
  <div id="map-canvas"></div>

  <ng-include src="'templates/menu.html'"></ng-include>
  <ng-include src="'templates/panel.html'"></ng-include>

  <div ng-view></div>

  <div id="weather" ng-controller="eob_WeatherCtrl" class="{{seepanel ? 'panel-open' : 'panel-close'}}">
      <div class="w-icon c{{wcode}}"></div>
      <div class="w-temp">{{temp}}<span class="w-units">°C</span></div>
  </div>

  <div id="logo"><div class="tv-tower"></div><div class="eatout-text"></div></div>
  <div id="madewith">
      Made with <span class="love">❤</span> in Berlin by <a class="ico-mail" href="mailto:maria@carrasco.in?cc=magnicida@gmail.com, subject=EatOutBerlin" target="_top"></a>
  </div>
</div>
