<div>
  <div id="map_canvas"  ng-init="initialize()"></div>
  <div class="menu-icon" ng-click="showMenu()"></div>
  <div ng-show="seemenu" getmenu class="main-menu"></div>

  <div ng-show="seeplace" getplace class="main-place"></div>

  <div id='weather'> <a ng-href="https://www.google.es/search?q=weather+berlin"> <div class="w-icon c{{wcode}}"></div><div class="w-temp">{{temp}}<span class="w-units">°C</span></div></a></div>
  <div id="logo"><div class="tv-tower"></div><div class="eatout-text"></div></div>
  <div id="madewith">
    Made with <span class="love">❤</span> in Berlin
  </div>
</div>
