<div>
  <div id="map_canvas"></div>

  <ng-include src="'templates/menu.html'"></ng-include>
  <ng-include src="'templates/place.html'"></ng-include>

  <div id='weather' ng-controller="weatherCtrl">
    <a ng-href="https://www.google.es/search?q=weather+berlin"> <div class="w-icon c{{wcode}}"></div><div class="w-temp">{{temp}}<span class="w-units">°C</span></div></a>
  </div>

  <div id="logo"><div class="tv-tower"></div><div class="eatout-text"></div></div>
  <div id="madewith">
    Made with <span class="love">❤</span> in Berlin
  </div>
</div>
