<div ng-controller="eob_MenuCtrl">
  <div class="menu-icon" ng-click="toggleMenu()"></div>

  <div id="main-menu" ng-show="seemenu">
    <div class="menu-content">
      <div class="header"></div>

      <div class="menu-items">
	    <ul>
	      <li class="menu-item find-me" ng-click="menuFindMe(this); isactive = 'findme';" ng-class="{active: isactive == 'findme'}">
		<div class="item-icon"></div>
		<span class="item-description">Find me</span> 
	      </li>
	      <li class="menu-item food-type" ng-click="isactive = 'food';" ng-class="{active: isactive == 'food'}">
		<div class="item-icon"></div>
		<span class="item-description">Food Type</span> 
	      </li>
              <li class="menu-item districts" ng-click="isactive = 'district';" ng-class="{active: isactive == 'district'}">
		  <!-- ng-repeat="district in districts"
		  ng-click="menuSelectDistrict(district)">{{district.name}} -->
		<div class="item-icon"></div>
		<span class="item-description">District</span> 
	      </li>
	    </ul>
      </div>
    </div>
  </div>
</div>
