<!DOCTYPE html>
<html ng-app="eob.app" manifest="manifest.appcache">
  <head>
    <base href="/">
    
    <meta charset="UTF-8">
    <meta name="author" content="Maria Carrasco, Juan Pedro Bolivar Puente">
    <meta name="description" content="Eat Out Berlin is the perfect site to discover great places to eat in Berlin. We cover both: new exicitng places and great old fashioned ones. Taking advantage of the great diversity of Berlin, we are proud to share our top findings here. ">
    <meta name="google-site-verification" content="jxJcGsW5_0XGjNti-qE5QIu6VEVgWXFVTMKr1w-Mcnk" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="shortcut icon" href="/images/favicon2.png">
    <link rel="icon" href="/images/favicon2.png">
    
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css">
    <title>EatOutBerlin </title>
    
  </head>
  <body>
    <div id="logo"><div class="tv-tower"></div><div class="eatout-text"></div></div>
    <div id="madewith">
      Made with <span class="love">❤</span> in Berlin
    </div>

  </body>
</html>
