<div class="suggestion-wrapper place-wrapper">
  <input class="searchbox" ng-model="query" autofocus placeholder="Type to search">
  <a class="expand-panel" ng-click="togglePanel();"><b></b><b></b><b></b></a>
  <a class="close-place" href="/">
    <div class="menu-toggle close">
      <b></b> <b></b> <b></b>
    </div>
  </a>
  <div class="header" style="background-image: url( {{place.images.0}} );" ng-repeat="place in suggestions | filter:query" ng-click="openPlace(place.slug);">
    <div class="place-info-area">
      <div class="place-info">
	<div class="place-name">
	  <a ng-href="{{place.url}}" target="_blank"> {{place.name}} </a>
	</div>
	<div class="rating-wrapper">
	  <div class="rating-number"> {{place.rating}} </div>
          <div class="rating">
            <div class="rating-value" style="width: {{place.rating*120/5}}px"></div>
            <div class="rating-rest"
                 style="width: {{120-place.rating*120/5}}px; background-position: {{-place.rating*120/5}}px -24px">
            </div>
	  </div>
	</div>
	<div class="place-address"> <span class="sico ico-place"></span>
	  {{place.address}}
	</div>
	<div class="distance-from-me" ng-if="place.distance"> <span class="sico ico-walking"></span> {{place.distance}} km  </div>

      </div>

      <div class="recommended" ng-if="place.recommended"></div>
      <div class="social-icons">
        <a class="share twitter" title="Share on Twitter" href="" ng-click="twitterShare()"></a>
        <a class="share facebook"  title="Share on Facebook" href="" ng-click="facebookShare()"></a>
      </div>
    </div>
  </div> <!--/Header-->

</div>
