<div id="main-panel" ng-show="seepanel">
  <div class="place-item">
    <div class="place-wrapper">
      <div class="header" style="background-image: url( {{place.images.0}} ); ">
        <a class="close-place" href="/"></a>
        <div class="place-info-area">
          <div class="place-info">
	    <div class="place-name">
	      <a ng-href="{{place.url}}" target="_blank"> {{place.name}} </a>
	    </div>
	    <div class="rating-wrapper">
	      <div class="rating-number"> {{place.rating}} </div>
              <div class="rating">
                <div class="rating-value" style="width: {{place.rating*120/5}}px"></div>
                <div class="rating-rest"
                     style="width: {{120-place.rating*120/5}}px; background-position: {{-place.rating*120/5}}px -24px">
                </div>
	      </div>
	    </div>
	    <div class="place-info">
	      {{place.address}}
	    </div>
          </div>

          <div class="social-icons">
            <div class="share twitter"></div>
            <div class="share facebook"></div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="description">
	  {{place.description}}
        </div>
        <div class="images">
	  <div class="" ng-repeat="img in place.images" ng-show="!$first">
	    <img ng-src="{{img}}" class="place-image" alt="" />
	  </div>
        </div>
      </div>
    </div>
  </div>
</div>
